{%- set data = {
  'project_name': dc.questionnaire.name,
  'data_description': {
    'type_of_study': None,
    'types_of_data': None,
    'format_and_scale': None,
  },
  'data_collection': {
    'methodologies': None,
    'quality_standards': None,
  },
  'data_management': {
    'managing': None,
    'metadata_docs': None,
    'preservation': None,
  },
  'data_security': {
    'standards': None,
    'risks': None,
  },
  'data_sharing': {
    'suitability': None,
    'discovery': None,
    'governance': None,
    'exclusive_use': None,
    'restrictions': None,
    'regulation': None,
  },
  'responsibilities': None,
  'policies': [],
  'contact': {
    'name': None,
    'principal_investigator': None,
    'phone': None,
    'email': None,
    'comment': None,
  }
} -%}
