<footer>
  <em>Based on</em>: MRC Template for a Data Management Plan, v01-1, 10 March 2017<br>
  <em>Created using</em>: <a href="{{ dc.config.client_url }}" target="_blank">{{ dc.config.client_url }}</a> (project <a href="{{ dc.config.client_url }}/projects/{{ dc.questionnaire.uuid }}" target="_blank">{{ dc.questionnaire.uuid }}</a>)<br>
  <em>DMP generated</em>: {{ dc.document.created_at|datetime_format("%d %b %Y %H:%M:%S") }} UTC)
</footer>
